page-auth {
	display: block;
  height: ~"calc(100% - 72px)";
  background-size: cover;
	min-height: 560px;
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

	.logo {
		width: 160px;
	}
	h1 {
		font-size: 20px;
		font-weight: 500;
		margin: 8px 0 0;
	}
}
